Facebook Access Token Format Change

Hello Sir,
Since the Facebook has changed it's access token format we are unable to fetch the username and id of the users. It gives an exception saying that incorrect response body can not extract access token from this.
Sir, It's my request please update the plugin so it can work with Facebook updated access token format.
Thanks in Advance.

Hi,

Do you have documentation to support this? Or a project to demonstrate the issue? This is likely an upstream change in scribe so I'll see if there is a newer version of scribe.

Yes i do have a project to demonstrate the issue. It throws an Exception when it receives the JSON format from facebook and throws the exception in console log.
You can clone my project repository from the following link i am using Grails 3.1.10 and MySQL database.
https://github.com/harish9312/OAuthFinal.git

Same issue here. Facebook change of response in v2.3 to JSON from URLEncoded.
Facebook has updated their response format and the token returned is not able to be extracted. It looks like the exception is thrown here: TokenExtractor20Impl

Facebook update v2.3 update here

[Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {"access_token": {TOKEN}, "token_type":{TYPE}, "expires_in":{TIME}}. We made this update to be compliant with section 5.1 of RFC 6749.

Hi,

Thanks @harish9312 and @tjrafferty for the demo project and references.

Unfortunately I don't really work with Grails any more, so it's going to take me a while to get the plugin running and test this myself as I don't have any of the tooling installed on any of my machines.

Initially I'd try overriding the scribe dependency within your projects to use a more recent version. If this fixes it, it should be simply a matter of upgrading the dependency and re-publishing the plugin.

I'll give it a go, but any help you are able to contribute will speed things up significantly.

I switched to using google oAuth for the now ... heh. I will be back on this and try to help out with a PR soon.

Ok :)

I've started some movement towards Scribe 4.x on a branch on the project if it helps. Doesn't feel like a small change though, this project uses 1.x

Thank You so much Antony Sir for your concern.
The update is much needed for me as well as the others using it. If it will be updated to extract JSON format access token then the Login will proceed success fully.
If i can do any type of help for updating the plugin then you are mostly welcome to get me in.
Thanks in Advance Sir. :)

Thanks for replying early :)
I looked forward to the following branch and i saw the changes you made in the last commit it was the dependancy you were using was changed.
So you are upgrading the OAuth Plugin or something else.
Sure i will try to pass test and will update you soon.
Thanks in advance 😊 sir.

I had to fix this issue for an application in production so I've made a pull request on feature/scribe-4: #58. I can't verify if it works in all scenarios, I only do basic login with Google and Facebook (OAuth 2.0). 

How can i update the scribe java plugin for the updated one can u plzz guide me where i have to make the changes??
if possible please tell me that where i have to use your plugin in order to extract the access token from facebook's JSON format?
this is my repository URL:
https://github.com/harish9312/feedbackModule3

@harish9312 Sorry, I don't have time to study how you use OAuth in your project. For basic usage you should be able to just update your dependency (for now you will have to build the plugin yourself from the fork) and grails configuration. Please see the comments in pull request #58 for a few more details on some breaking changes.

Thanks @gcrick for your hard work on this!

I've released v4.0.0. @harish9312 you can give it a go and see if it solves your problem.